.display-none {
    display: none;
}

:root {
    --leaflet-tile-filter: brightness(0.6) invert(1) contrast(3) hue-rotate(200deg) saturate(0.3) brightness(0.7);
}

.dark .leaflet-tile {
    filter: var(--leaflet-tile-filter, none);
}

.dark .leaflet-container {
    background: #303030;
}